# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env

# Progetto
checkpoints/
runs/
data/
dataset/
weights/
logs/
images/

# Editor / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

*.lock
REPORT_SOURCE_RUNS.json
